body {
      
      background-image: url('paper.png');

      font-family: "Lucida Bright",Georgia,serif;

     }
    
.card-top-spacing {
     
                  margin-top: 20px;
                  
                  }    